<div class="flex p-2 h-full gap-5">


    <div class="bg-base-200 rounded-2xl p-[10px_10px] w-1/5 flex flex-col gap-4 ">
        <button (click)="goBack()" class="btn btn-ghost btn-circle">
            <fa-icon [icon]="faArrowLeft" />
        </button>
        <div>
            <h1 class="text-2xl text-center font-bold">Categorías de votación</h1>
        </div>
        <div class="w-full">

            @for (item of MenuItems; track $index) {
            <button (click)="onClickMenuItem(item.route)"
                class="btn shadow-none outline-none w-full p-[24px_8px] {{selectedMenu() === item.route ? 'bg-black! text-white' : '' }}">
                {{item.name}}
            </button>
            }
        </div>
    </div>

    <div class="bg-base-200 rounded-2xl w-4/5 p-3">
        <router-outlet />
    </div>

</div>