<div class="h-full">


    <div class="text-center h-1/12">
        <h1 class="text-3xl font-bold  mb-5">Categoría Sugerenciadas</h1>
        <p>
            Esta parte solo la puden ver los que son admins. Aqui estan las categorias que los usuarios han sugerido.
            Esta en ti aprobarlas o borrarlas.
        </p>
    </div>


    <div class="h-11/12">

        @if(isLoading()){
        <shared-loading />
        } @else {
        <ul class="list rounded-box shadow-md">

            @for (item of suggestionItems(); track $index) {

            <li class="list-row">
                <div class="text-4xl font-thin opacity-30 tabular-nums">{{ $index+1 <= 9 ? '0' +( $index+1) :
                        $index+1}}</div>
                        <div class="list-col-grow flex items-center ">
                            <span class="card-title">{{ item.title }}</span>
                        </div>
                        @if (item.description) {
                        <p class="list-col-wrap text-xs">
                            {{ item.description + " - " + item.author }}
                        </p>
                        }

                        <button class="btn btn-square bg-green-500" onclick="approve_modal.showModal()" (click)="whenOpeningModal(item)" >
                            <fa-icon [icon]="faSquareCheck" />
                        </button>
                        <button class="btn btn-square bg-red-500" (click)="onDeleteSuggestion(item.uuid)">
                            <fa-icon [icon]="faTrashCan" />
                        </button>
            </li>

            }

        </ul>
        }

    </div>

</div>


<dialog id="approve_modal" class="modal">
    <div class="modal-box">
        <p class="py-2">Edita el titulo si es necesario</p>
        <div class="modal-action">
            <form method="dialog" class="w-full flex flex-col gap-4">
                <label class="floating-label">
                    <span>Titulo</span>
                    <input [(ngModel)]="selectedItem().title" name="title"  placeholder="Aquí el titulo" class="input input-md w-full placeholder:opacity-10" />
                </label>

                <div class="flex justify-between">
                    <button (click)="onApproveSuggestion()" class="btn btn-primary">Approve</button>
                    <button class="btn btn-ghost">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</dialog>