<div class="flex flex-col w-full items-center">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
        @for (item of registerElements(); track $index) {

        <div class="flex flex-col w-full">
            <label class="capitalize">{{ item }}</label>
            @if (item === 'email') {
            <div class="relative">

                <input (blur)="checkIfWhitelisted()" class="input w-full" [formControlName]="item" type="email" />

                @if (checkingIfWhitelisted()) {
                <span class="loading loading-spinner loading-xs absolute right-2 top-3"></span>
                } @else if (messageTooltipData()) {
                <span class="tooltip tooltip-{{messageTooltipData()!.status}} absolute right-2 top-2"
                    [attr.data-tip]="messageTooltipData()!.message">
                    <fa-icon
                        class="{{ messageTooltipData()!.status === 'success' ? 'text-green-500' : ' text-red-500' }}"
                        [icon]="messageTooltipData()!.status === 'success' ? faCircleCheck : faXmarkCircle"></fa-icon>
                </span>
                }




            </div>
            } @else {
            <input class="input w-full" [formControlName]="item"
                [type]="item === 'confirm password' ? 'password' : item" />
            }
            @if (isValidField(item)) {
            <span class="text-[red]">
                {{ isValidField(item) }}
            </span>
            }
        </div>

        }


        <pre>
        {{ messageTooltipData() | json }}
        </pre>

        <button class="btn capitalize">
            registrate compai
        </button>
    </form>


</div>