<div class="h-full">


    <div class="text-center clear-start">
        <h1 class="text-3xl font-bold  mb-5">Sugerencia una categoria</h1>
        <p>
            Aquí puedes sugerir una nueva categoria para que sea añadida a las votaciones solo si un admin la aprueba.
            Asi que asegurate de no poner una loquera al favor.
        </p>
    </div>


    <div>

        <form [formGroup]="suggestForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 p-6 lg:w-4/12 md:w-6/12 ">

            <div class="flex flex-col gap-2 ">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Nombre</legend>
                    <input class="input w-full" formControlName="name" type="text" />
                </fieldset>
                @if (isValidField('name')) {
                <span class=" text-[red]">
                    {{ isValidField('name') }}
                </span>
                }
            </div>

            <div class="flex flex-col gap-2 ">
                <fieldset class="fieldset">
                    <legend class="fieldset-legend">Descripcion</legend>
                    <textarea formControlName="description"
                        class="textarea h-24 placeholder:opacity-45 textarea-ghost  w-full"
                        placeholder="¿Porque deberia esto ser una categoria?"></textarea>
                    <div class="label">Opcional</div>
                </fieldset>
                @if (isValidField('description')) {
                <span class=" text-[red]">
                    {{ isValidField('description') }}
                </span>
                }
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="suggestForm.invalid || isLoading()">
                
                @if (isLoading()){
                    <shared-loading/>
                } @else {
                    Enviar sugerencia
                }

            </button>
        </form>

    </div>


</div>