.home-body{
    background-image: url('../../assets/images/background.png');
    background-size: cover;
}

.username{
    font-family: 'Poppins', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: white;
}